/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
/* ### Primary
- Lime Green: hsl(163, 72%, 41%)
- Bright Red: hsl(356, 69%, 56%)

- Facebook: hsl(208, 92%, 53%)
- Twitter: hsl(203, 89%, 53%)
- Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%)
- YouTube: hsl(348, 97%, 39%)

#### Dark Theme
- Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%)

#### Light Theme
- Toggle: hsl(230, 22%, 74%)

#### Dark Theme
- Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)

#### Light Theme
- White (BG): hsl(0, 0%, 100%)
- Very Pale Blue (Top BG Pattern): hsl(225, 100%, 98%)
- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%) */
*{
margin: 0;
padding: 0;
box-sizing: border-box;}

body{
font-family: 'Inter', sans-serif;
font-size: 14px;
background: hsl(230, 17%, 14%);
color: white;}

/* Quadro do background */
.squareBackground{
position: absolute;
z-index: -1;
top: 0;
background: hsl(232, 19%, 15%);
width: 100%; height: 30vh;}


.principalBox{
margin: 2em auto;
width: 80vw; height: 100%;}

header{
margin-bottom: 2em;}

.totalFollowers{
display: flex;
justify-content: space-between;
font-weight: bold;
margin: .5em 0;}

.totalFollowers span{
color: hsl(228, 34%, 66%);}


/* Botão toggle */
.toggle{
display: flex;
align-items: center;
justify-content: space-between;
width: 10em;}

.toggleSwitch {
position: relative;
display: inline-block;
width: 55px;
height: 25px;}

.toggleSwitch input {
opacity: 0;
width: 0;
height: 0;}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-image: linear-gradient(to right,hsl(210, 78%, 56%), hsl(146, 68%, 55%));}

.slider:before {
position: absolute;
content: "";
height: 18px;
width: 18px;
left: 4px;
bottom: 3px;
background-color: hsl(228, 28%, 20%);
transition: .4s;}

input:checked + .slider:before {
transform: translateX(26px);
background: hsl(0, 0%, 100%);}

input:checked + .slider{
background: hsl(230, 22%, 74%);}

.slider.round {
border-radius: 34px;}

.slider.round:before {
border-radius: 50%;}


/* Section */
.socialMediaBox{
display: flex;
flex-wrap: wrap;
justify-content: space-between;}

.socialMediaBoxItem{
text-align: center;
width: 21em; height: 14em;
margin: .5em 0;
padding: 2em;
border-radius: 5px;
border-top: 5px solid;
background: hsl(228, 28%, 20%);}

.socialMediaBoxItem:hover{
    background:hsl(228, 30%, 25%)
}

.socialMediaBoxItem:nth-child(-n+2){
border-color:hsl(208, 92%, 53%);
}

.socialMediaBoxItem:last-child{
border-color: hsl(348, 97%, 39%);
}

.socialMediaBoxItem:nth-child(3){
position: relative;
border: none;}

.socialMediaBoxItem:nth-child(3)::before{
content: "";
position: absolute;
display: block;
top: 0;
left: 0;
width: 100%;
height: 4px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
background-image: linear-gradient(to right,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
}

.iconSocialMediaBoxItem{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 1em;}

.iconSocialMediaBoxItem img{
margin-right: 5px;
}

.socialMediaBoxItem span{
    margin: 1em 0;
   color: hsl(163, 72%, 41%);
}

.socialMediaBoxItem .red{
    color: hsl(356, 69%, 56%)
}



h3{
font-size: 3rem;
}

p{
color: hsl(228, 34%, 66%);
}

h3 + p{
    text-transform: uppercase;
    letter-spacing: 4px;
}


@media (max-width: 376px){
.totalFollowers{
flex-direction: column;}

.totalFollowers span:first-child{
border-bottom: 1px solid hsl(228, 28%, 20%);
padding-bottom: 1em;
margin-bottom: 1em;}



}

@media(max-width: 735px){
    .socialMediaBox{
        justify-content: center;
    }
}